// = Identity Colours 
//-----------------------------------------------------------------------------//
	$dark-blue: #092869;
	$light-blue: #0391bf;
	$background: #D5D4D0;
	$grey: #ddd;

// = Additional Grey UI Colours 
//-----------------------------------------------------------------------------//

    $light-grey-1: #f7f7f7;
    $light-grey-2: #e6e6e6;
    $light-grey-3: #cccccc;
    $mid-grey-1: #b3b3b3;
    $mid-grey-2: #999999;
    $mid-grey-3: #808080;
    $dark-grey-1: #666666;
    $dark-grey-2: #4d4d4d;
    $dark-grey-3: #333333;
    $off-black:#262626;
    $off-white:#e7e6dd;


@mixin clearfix() {
    &:before,
    &:after {
        content:"";
        display:table;
    	}

    &:after {
        clear:both;
    	}
	}